/*
 * Copyright 2014 the original author or authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
div.cache {
  display: block;
  float: left;
}

.clearfix {
  clear: both;
}

table.cache-details {
  border: solid 1px silver;
  margin: 10px;

  tr {
    th, td {
      border: solid 1px silver;
      padding: 5px;
    }
    th {
      text-align: left;

      &.cache-name {
        background-color: whitesmoke;
        text-align: center;
        a {
          text-decoration: none;
          color: black;

          &:hover {
            color: orange;
          }
        }
      }
    }
    td {
      width: 100px;
    }
  }
}
