/*
 * Copyright 2014 the original author or authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/* deprecated */
ul.debug-menu li.selected {
    font-weight: bold;
}

ul.debug-menu li.selected a {
    text-decoration: none;
}

/* deprecated */
div.feedback {
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 3px;
    border: solid 1px green;
    margin-bottom: 15px;
}

.hidden {
    display: none;
}

.navbar-left .debug-warning {
    margin-top: 11px;
    margin-right: 10px;
    padding: 4px;
    background-color: #d9534f;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.debug-web-handlers table td {
    font-size: 11px;
}

.debug-across-browser select option.disabled {
    color: #d9534f;
}

.debug-across-browser strong.moduleIndex {
    display: block;
    width: 40px;
    float: left;
    text-align: center;
}

.debug-across-browser table {
    table-layout: fixed;
    word-wrap: break-word;
}

.debug-across-browser table.contextBeans tr.exposed td {
    color: black;
    font-weight: bold;
}

.debug-across-browser table.contextBeans td.bean-scope, .debug-across-browser table.contextBeans th.bean-scope {
    text-align: center;
}

.debug-across-browser table.contextBeans td {
    font-size: 11px;
}

/* deprecated */
.debug-across-info h2 {
    background-color: whitesmoke;
    padding: 5px;
    border: solid 1px gainsboro;
}

.debug-across-info h2 span.module-disabled {
    color: red;
}

.debug-across-info table.bean-list tr {
    color: gray;
}

.debug-across-info table.bean-list tr:hover {
    background-color: gainsboro;
}

.debug-across-info table.bean-list tr.exposed {
    color: black;
}

.debug-across-info table.bean-list tr.inherited {
    color: gray;
}

.debug-across-info table.bean-list tr th {
    color: black;
}

.debug-across-info table.bean-list tr td {
    padding: 3px;
}

.debug-across-info table.bean-list tr td.bean-name {
    width: 300px;
}

.debug-across-info table.bean-list tr td.bean-role {
    width: 85px;
    text-align: center;
}
